---
layout: people
body_class: people
---

<div class="container">
  <div class="content">

    <!-- professor stuff -->
    <h3> Professor </h3>
    <ul class="resource-list video-list">
      {% for professor in site.tags.professors %}
      <li class="resource">
        <div class="container">
          <div class="third">
              <img src="{{ site.url }}/img/{{ professor.image_filename }}" alt="{{ professor.title }}" style="width:136px">
          </div>
          <div class="two-thirds">
            <h3><a href="{{ professor.myURL }}" target="_blank"> {{ professor.name}} </a></h3>
            <p> {{professor.excerpt}} </p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <br />

    <div class="container">
      <!-- phdstudent stuff -->
      <h3> PhD Students </h3>
      <ul class="resource-list video-list">
      {% for phdstudent in site.tags.phdstudents %}
        <li class="half" style="display:inline">
          <div class="resource container">
            <div class="third">
                <img src="{{ site.url }}/img/{{ phdstudent.image_filename }}" alt="{{ phdstudent.title }}">
            </div>
            <div class="two-thirds">
              <h3> <a href=" {{ phdstudent.myURL }}" target="_blank">{{ phdstudent.name}} </a></h3>
              <p> {{ phdstudent.excerpt}} </p>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <br />
    </div>
    <div class="container">
      <!-- masters student stuff -->
      <h3> Masters Students </h3>
      <ul class="resource-list video-list">
      {% for msstudent in site.tags.msstudents %}
        <li class="half" style="display:inline">
          <div class="resource container">
            <div class="third">
                <img src="{{ site.url }}/img/{{ msstudent.image_filename }}" alt="{{ msstudent.title }}">
            </div>
            <div class="two-thirds">
              <h3> <a href=" {{ msstudent.myURL }}" target="_blank">{{ msstudent.name}} </a></h3>
              <p> {{ msstudent.excerpt}} </p>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <br />
    </div>

    <div class="container">
      <!-- undergraduate students -->
      <h3> Undergraduate Students </h3>
      <ul class="resource-list video-list">
      {% for student in site.tags.students %}
        <li class="half" style="display:inline">
          <div class="resource container">
            <div class="third">
                <img src="{{ site.url }}/img/{{ student.image_filename }}" alt="{{ student.title }}">
            </div>
            <div class="two-thirds">
              <h3><a href=" {{ student.myURL }}" target="_blank"> {{student.name}}</a></h3>
              <p> {{ student.excerpt }} </p>
            </div>
           </div>
        </li>
      {% endfor %}
      </ul>
      <br />
    </div>

    <div class="container">
    <h3> Alumni </h3>
      <ul>
        <li>Sanping Li, PhD,
          <strong>Dissertation Topic:</strong>  Towards Ultra-High Speed Online Network Traffic Classification with Machine Learning Algorithms and OpenFlow Accelerators ,
          EMC</li>
        <li> Philip Colangelo, MS,
          <strong> Thesis topic:</strong> Robotic Assistive Arm in Health Care, 2014,
          BAE Systems </li>
        <li> Eric Murray, MS,
          passed thesis defense on April 25, 2012.
          <strong>Thesis title:</strong> Network Processor Accelerated Network Traffic Classification Based on OpenFlow. 2012,
          Netronome Systems,
          Broadcom. </li>
        <li> Timothy Ficarra, MS,
          passed thesis defense on April 5, 2011.
          <strong>Thesis title:</strong> Programmable Edge Node OpenFlow Switch Development and Performance Evaluation,
          Sonus Networks </li>
        <li>  Craig Masley, MS,
          passed thesis defense on Nov 2010.
          <strong>Thesis title:</strong> High Speed Data Communication for Network Testing in a Hybrid Simulation and Emulation Environment,
          Draper Lab </li>
        <li> Jonathan LaBroad, MS,
          passed thesis defense on April 5, 2011.
          <strong>Thesis title:</strong> Performance Analysis of Reconfigurable Logic Accelerators in Heterogeneous Multicore Architectures.
          Raytheon </li>
        <li> Chunhui Zhang, MS,
          passed thesis defense on Nov 6, 2009.
          <strong>Thesis title:</strong> “The Performance Evaluation of a Virtualized Programmable Edge Node for Network Innovations”,
          Akamai </li>
        <li> Aiken Pang, MS graduated in May 2008.
          <strong>Project title:</strong> Design and Implementation of Wireless Camera Sensors.
          Assurance Technology Corporation </li>
            <ul>
              <li>Mr. Aiken Pang won the “Dean’s Gold Medal” award in 2008.</li>
            </ul>
        <li> Christopher Hayes, MS graduated in April 2007.
          <strong>Thesis title:</strong> Implementation of Reduced Storage Finite Automata in Field Programmable Gate Arrays.
          MIT Lincoln Lab </li>
        <li> Justin Latham, MS graduated in April 2007.
          <strong>Thesis title:</strong> Deep Packet Inspection with the Intel Internet Exchange Architecture Network Processor.
          BAE Systems, UTC </li>
        <li> Sourav Maity, MS, graduated in Sept 2006.
          <strong>Thesis title:</strong> Anatomy and Performance Evaluation of Network Intrusion Detection Systems </li>
      </ul>
    </div>
  </div>
</div>
