<div class="top-bar">&nbsp;</div>
<header>
  <div class="container">
    <nav id="nav">
      <ul class="content">
        <li{% if page.body_class == 'overview' %} class="current"{% endif %}>
          <a href="{{ site.url }}/">About</a>
        </li>
        <li{% if page.body_class == 'research' %} class="current"{% endif %}>
          <a href="{{ site.url }}/research/">Research</a>
        </li>
        <li{% if page.body_class == 'publications' %} class="current"{% endif %}>
          <a href="{{ site.url }}/research/publications/">Publications</a>
        </li>
        <li{% if page.body_class == 'people' %} class="current"{% endif %}>
          <a href="{{ site.url }}/people/">People</a>
        </li>
        <li{% if page.body_class == 'contact' %} class="current"{% endif %}>
          <a href="{{ site.url }}/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
