<h4>Journal Papers</h4>
<ol reversed>

<li>
Sanping Li, Eric Murray and Yan Luo, "Programmable Network Traffic Classification with OpenFlow Extensions", chapter of book titled “Network Innovation through OpenFlow and SDN Principles and Design”, Fei Hu editors, CRC Press 2014, Pages 269–302 Print ISBN: 978-1-4665-7209-6
  </li>

<li>
Xuzhou Chen, Yan Luo, Jie Wang, "A Virtual Network Embedding Algorithm for Providing Stronger Connectivity in the Residual Networks", Journal of Networks, Accepted.
</li>


<li>
Xiang Cheng, Sen Su, Zhongbao Zhang, Kai Shuang, Fangchun Yang, Yan Luo and Jie Wang, "Virtual Network Embedding Through Topology Awareness and Optimization", Computer Networks, Volume 56, Issue 6, 19 April  2012, Pages 1797–1813.
</li>

<li>
Zhongbao Zhang, Xiang Cheng, Sen Su, Yiwen Wang, Kai Shuang, Yan Luo, A Unified Enhanced Particle Swarm Optimization-based Virtual Network  Embedding Algorithm, International Journal of Communication Systems, Jan 2012 
</li>



<li>
Xiang Cheng, Sen Su, Zhongbao Zhang, Hanchi Wang, Fangchun Yang, Yan Luo, Jie Wang, Virtual Network Embedding Through Topology-Aware Node Ranking, ACM Computer Communication Review, Vol 41, No. 2, April 2011
</li>



<li>
Pablo Cascon, Julio Ortega, Yan Luo, Eric Murray, Antonio Diaz, Ignacio Rojas, Improving IPS by Network Processors, Journal of Supercomputing, Vol 57, Issue 1, July 2011
</li>



<li>
Yan Luo, Network I/O Virtualization for Cloud Computing, Special Issue on Cloud Computing of IEEE IT Professional, pp. 36-41, Sept/Oct, 2010 
</li>



<li>
Yan Luo, Timothy Ficarra, Eric Murray and Chunhui Zhang, The Design, Performance Evaluation and Use Cases of a Virtualized Programmable Edge Node for Network Innovations, International Journal of Communication Networks and Distributed Systems, Vol. 6, No.3, pp 249-267, 2011
</li>



<li>
Yan Luo, Workload Characterization of Spam Email Filtering Systems, International Journal of Network Security and Its Applications, Vol 2, No. 1, Jan 2010
</li>



<li>
Jie Lu, Yan Luo, Jie Wang, Modeling and Performance Evaluation of Network Processor Based Application Designs, Computer Measurement Group Journal, Issue 122, pp. 53-67, winter 2008.
</li>



<li>
Yan Luo, Jia Yu, Jun Yang, Laxmi Bhuyan, Conserving Network Processor Power Consumption By Exploiting Traffic Variability, ACM Transactions on Architecture and Code Optimization, Vol. 4, Issue 1, March 2007.
</li>



<li>
L. Zhao, Yan Luo, L. Bhuyan, R. Iyer, A Network Processor Based Content Aware Switch, IEEE Micro Special Issue on High-Performance Interconnects, Volume 26, No. 3, pp. 72-84, May/June 2006
</li>



<li>
Jia Yu, Jun Yang, Shaojie Chen, Yan Luo, Laxmi Bhuyan, Enhancing Network Processor Simulation Speed with Statistical Input Sampling, Lecture Notes in Computer Science, Volume 3793, Oct 2005, Pages 68 - 83, Springer-Verlag Publishers
</li>



<li>
Yan Luo, Jun Yang, Laxmi Bhuyan, Li Zhao, NePSim: A Network Processor Simulator with Power Evaluation Framework, IEEE Micro Special Issue on Network Processors for Future High-End Systems and Applications, Sept/Oct 2004.
</li>



<li>
Xi Chen, Yan Luo, Harry Hsieh, Laxmi Bhuyan and Felice Balarin, Assertion-Based Verification and Analysis of Network Processor Architectures, International Journal of Design Automation for Embedded Systems, Vol. 9 No. 3, Sept 2004, Kluwer Academic Publishers.
</li>



<li>
Yan Luo, Laxmi Bhuyan, Xi Chen, Shared Memory Multiprocessor Architectures for Software IP Routers, IEEE Transactions on Parallel and Distributed Systems, Vol 14, No. 12, Dec 2003
</li>

</ol>

<h4>Conference Papers</h4>
<ol reversed>

<li>
Lu He, Yan Luo and Yu Cao, “Accelerator of Stacked Convolutional Independent Subspace Analysis for Deep Learning-Based Action Recognition”, In Proceedings of The 22nd IEEE International Symposium on Field-Programmable Custom Computing Machines, May 11-13, Boston, MA, 2014
</li>

<li>
Sen Su, Zhongbao Zhang, Xiang Cheng, Yiwen Wang, Yan Luo and Jie Wang, Energy-aware Virtual Network Embedding Through Consolidation, The 1st IEEE INFOCOM Workshop on Communications and Control for Sustainable Energy Systems: Green Networking and Smart Grids, March 25-30, 2012, Orlando FL.
</li>

<li>
Peilong Li, Yan Luo, Thomas Calloway, Imran Vakil, Exploration of Memory Hierarchy for Heterogeneous Computing Architecture, The 3rd Workshop on SoCs, Heterogeneous Architectures and Workloads, Feb 26, 2012, New Orleans, LA.
</li>

<li>
Xuzhou Chen, Yan Luo and Jie Wang, Virtual Network Embedding with Border Matching, The 4th IEEE International Conference on Communication Systems and Networks, Jan 3-7, 2012, Bangalore, India.
</li>

<li>
Xin Sun, Sen Su, Lei Jiang, Shuang Chi and Yan Luo, Multi-dimensional Resource Integrated Scheduling in a Shared Data Center, The First International Workshop on Data Center Performance, Minneapolis, MN, June 5, 2011
</li>

<li>
Jonathan Labroad, Yan Luo, Sairhual Chalamalasetti, Timothy Ficarra, and Martin Margala, Reconfigurable Logic Accelerated Heterogeneous
Multicore Architecture for Dynamic Workloads, 2nd Workshop on SoC Architecture, Accelerators and Workloads, in conjunction with IEEE HPCA’11, San Antonio, TX, Feb 12, 2011
</li>

<li>
Yan Luo, Eric Murray, Timothy Ficarra, Accelereated Virtual Switching with Programmable NICs for Scalable Data Center Networking, ACM SIGCOMM Virtualized Infrastructure Systems and Architectures (VISA) Workshop, New Delhi, India, Sept 3, 2010
</li>

<li>
Sanping Li, Yan Luo, High Performance Flow Feature Extraction with Multi-core Processors, IEEE International Conference on Network, Architecture and Storage, Macau, China, July 15-17, 2010 (Best Paper Award)
</li>

<li>
Yan Luo, Pablo Cascon, Eric Murray, Julio Ortega, Accelerating OpenFlow Switching with Network Processors, ACM Symposium on Architectures for Networking and Communications Systems, Princeton, NJ, Oct 19, 2009
</li>

<li>
Yan Luo, Sanping Li, Yu Liu, A DFA-Based Regular Expression Matching Engine on a NetFPGA Platform, NetFPGA Developers Workshop, Stanford University, Palo Alto, CA, Aug 12-24, 2009
</li>

<li>
Sanping Li and Yan Luo, Discernibility Analysis and Accuracy Improvement of Machine Learning Algorithms for Network Intrusion Detection, IEEE International Conference on Communications, Dresden, Germany, June 14-18, 2009 
</li>

<li>
Yan Luo, Ke Xiang, Jie Fan and Chunhui Zhang, Distributed Intrusion Detection with Intelligent Network Interfaces for Future Networks, IEEE International Conference on Communications, Dresden, Germany, June 14-18, 2009
</li>

<li>
Yan Luo, Chunhui Zhang, A Performance Study of Network I/O Accelerators for Network Virtualization, Workshop on The Influence of I/O on Microprocessor Architecture (IOM-2009) co-located with HPCA15, Raleigh, NC, February 15, 2009  
</li>

<li>
Yan Luo, Ke Xiang and Sanping Li, Acceleration of Decision Tree Searching for IP Traffic Classification, ACM Symposium on Architectures for Networking and Communications Systems, San Jose, CA, Nov 6-7, 2008 
</li>

<li>
Yan Luo and Chunhui Zhang, The Design of A Programmable Network Edge Node with Hybrid Multi-core Processors for Virtual Networks, IEEE International Conference on Computer Communications and Networks, St. Thomas, VI, August 3-7, 2008 
</li>

<li>
Piti Piyachon and Yan Luo, Design of High Performance Pattern Matching Engine Through Compact Deterministic Finite Automata, IEEE/ACM Design Automation Conference (DAC), Anaheim, CA, June 8-13, 2008
</li>

<li>
Yan Luo and Jie Fan, Fault Tolerant Practices on Network Processors for Dependable Network Processing, 13th IEEE Workshop on Dependable Parallel, Distributed and Network-Centric Systems, in conjunction with IPDPS'08, Miami, FL, April 14-18, 2008 
</li>

<li>
Song Huang, Yan Luo and Wu-chun Feng, Modeling and Analysis of Power in Multicore Network Processors, Fourth IEEE Workshop on High-Performance, Power-Aware Computing, in conjunction with IPDPS'08, Miami, FL, April 14-18, 2008 
</li>

<li>
Chris Hayes and Yan Luo, DPICO: A High Speed Deep Packet Inspection Engine using Compact Finite Automata, ACM Symposium on Architectures for Networking and Communications Systems, Orlando, FL, Dec 3-4, 2007 
</li>

<li>
Piti Piyachon, Yan Luo, Compact State Machines for High Performance Pattern Matching,  IEEE/ACM Design Automation Conference (DAC), San Diego, CA, June 4-8, 2007
</li>

<li>
Piti Piyachon, Yan Luo, Efficient Memory Utilization on Network Processors for Deep Packet Inspection, ACM Symposium on Architecture for Networking and Communications Systems, San Jose, CA, Dec 3-5, 2006
</li>

<li>
Li Zhao, Yan Luo, Laxmi Bhuyan, Ravi Iyer, SpliceNP: A TCP Splicer using Network Processors, ACM Symposium on Architecture for Networking and Communications Systems, Princeton, NJ, Oct 27-28, 2005 
</li>

<li>
Jingnan Yao, Yan Luo, Laxmi Bhuyan, Ravi Iyer, Optimal Network Processor Topologies for Efficient Packet Processing, IEEE Globecom 2005, St Louis, MO, Nov 28-Dec 2, 2005 
</li>

<li>
Li Zhao, Yan Luo, Laxmi Bhuyan, Ravi Iyer, Implementation and Design of A Content-aware Switch Using A Network Processor, IEEE Symposium on High Performance Interconnects, Palo Alto, CA, August 17-19, 2005 
</li>

<li>
Yan Luo, Jia Yu, Jun Yang, Laxmi Bhuyan, Low Power Network Processor Design Using Clock Gating, IEEE/ACM Design Automation Conference (DAC), Ahaheim, California, June 13-17, 2005 
</li>

<li>
Xi Chen, Yan Luo, Harry Hsieh, Laxmi Bhuyan, Felice Balarin, Utilizing Formal Assertions for System Design of Network Processors, Design Forum, Design Automation and Test in Europe (DATE), 2004.
</li>

<li>
Yan Luo, Li Zhao, Laxmi Bhuyan, Walid Najjar, Evaluating the Impact of Architectural Features on Communication Benchmarks, Communications in Computing, Nevada, USA, June 24-27, 2002
</li>

<li>
David Watson, Yan Luo, and Brett Fleisch, Experiences with Oasis+: A Fault Tolerant Storage System, Proceedings of the IEEE International Conference on Cluster Computing, Newport Beach, CA, Oct 8-11 2001
</li>

<li>
David Watson, Yan Luo, and Brett Fleisch, The Oasis+ Dependable Distributed Storage System, Proceedings of the 2000 Pacific Rim International Symposium on Dependable Computing, Los Angeles, CA, December 18-19, 2000
</li>

</ol>
