<h4>Conference Organization Committees</h4>

<ul>

<li>
Program Co-chair, SADEI Workshop in conjunction with IEEE ISADS, Taiwan, 2015
</li>

<li>
Program Committee Member, IEEE International Conference on Networking, Architecture and Storage, to be held on Aug 6-8, 2014, Tianjin, China.
</li>

<li>
Program Committee Member, ACM/IEEE International Conference on Networks, Singapore, Bahamas, Dec 11-13, 2013.
</li>

<li>
Program Committee Member, ACM/IEEE International Conference on Computer Communications and Networks, Nassau, Bahamas, July 30 – Aug 2, 2013.
</li>

<li>
Program Committee Member, ACM/IEEE International Workshop on Quality of Service, Coimbra, Portugal, June 4-5, 2012.
</li>

<li>
Program Committee Member, IEEE Global Internet Symposium, Orlando, FL, Mar 25-30, 2012.
</li>

<li>
Program Committee Member, IEEE International Conference on Collaborative Computing, Orlando, FL, Oct 15-18, 2011.
</li>

<li>
Program Committee Member, IEEE Global Communications Conference, Huston, TX, Dec 5-9, 2011.
</li>

<li>
Program Committee Member, ACM/IEEE Symposium on Architectures for Networking and Communications Systems, Brooklyn, NY, Oct 3-4, 2011.
</li>

<li>
Program Committee Member, ACM/IEEE International Workshop on Quality of Service, San Jose, CA, June 6-7, 2011.
</li>

<li>
Program Committee Member, IEEE International Conference on Communications, Kyoto, Japan, June 2011.
</li>

<li>
Program Committee Member, IEEE Global Internet Symposium, Shanghai, China, April 2011.
</li>

<li>
Program Committee Member, ACM/IEEE Symposium on Architectures for Networking and Communications Systems, November 2010.
</li>

<li>
Program Committee Member, 2nd International Workshop on Security in Cloud Computing, San Diego, CA, Sept 2010.
</li>

<li>
Student Travel Grant Chair and Program Committee Member, IEEE International Conference on Computer Communications and Networks, ETH Zurich, Switzerland, August 2010.
</li>

<li>
Program Committee Member, IEEE Workshop on Grid and P2P Systems and Applications (GridPeer 2010), ETH Zurich, Switzerland, August 2010
</li>

<li>
Program Committee Member, 13th IEEE Global Internet Symposium, San Diego, CA, March 2010
</li>

<li>
Program Committee Member, International Workshop on Security in Cloud Computing, Sichuan, China, Dec 2009.
</li>

<li>
Student Travel Grant Chair and Program Committee Member, IEEE International Conference on Computer Communications and Networks, San Francisco, CA, August 2009.
</li>

<li>
Program Co-chair, The First International Workshop on Performance Evaluation of Next Generation Networks, Boston, MA, April 26, 2009
</li>

<li>
Program Committee Member, IEEE Workshop on Grid and P2P Systems and Applications (GridPeer 2009), San Francisco, August 2009
</li>

<li>
Session Chair and Program Committee Member, ACM/IEEE Symposium on Architectures for Networking and Communications Systems, November 2008.
</li>

<li>
Program Committee Member, IEEE International Conference on Communications, Beijing, May 2008.
</li>

<li>
Program Committee Member, IEEE International Conference on Computer Communications and Networks, Hawaii, August 2007.
</li>

<li>
Program Committee Member, IEEE International Conference on Computer Communications and Networks, Arlington, VA, Oct 2006.
</li>

<li>
Program Committee Member, IEEE International Workshop on Networking, Architecture and Storages, Shenyang, China, August, 2006
</li>

<li>
Program Committee Member, IEEE International Workshop on Multimedia Technology and Ubiquitous Computing, Taiwan, June 2006
</li>

</ul>

