---
layout: default
body_class: teaching
title: Courses taught by Dr. Luo
html_title: Courses
byline: Offered at UML, accessible from web.
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'classes' %} class="current"{% endif %}>
      <a href="{{ site.url }}/teaching/16.317/">16.317</a>
    </li>
    <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/teaching/16.480/">16.480/552</a>
    </li>
    <!--li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/web/advanced-git/">Advanced GitHub &amp; Git Course</a>
    </li-->
  </ul>
</div>

<div class="container">
  {{ content }}
</div>
